.header {
    height: 88px;
    min-width: 320px;
    max-width: 768px;

    .header-page {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D9FFF5;
        position: relative;

        &::after {
            content: " ";
            background: #EAEAEA;
            width: 2px;
            height: 32px;
            position: absolute;
            left: 59%;
            top: 30%;
        }

        &::after {
            content: " ";
            width: 0;
        }
    }

    .header-basic {
        display: flex;
        align-items: center;

        .header-navigation__title{
            margin-right: 16px;
        }

        &__logo {
            margin-left: 15px;

            &::before {
                content: " ";
                background: #EAEAEA;
                width: 2px;
                height: 32px;
                position: absolute;
                top: 30px;
                left: 70px;
            }
        }
    }

    .header-navigation {
        display: flex;

        &::before {
            content: " ";
            background: #EAEAEA;
            width: 2px;
            height: 32px;
            position: absolute;
            top: 28px;
            right: 130px;
        }

        &__title {

            &--dis-md {
                display: none;
            }
        }

        &__title:not(:last-child){
            margin-right: 0;
        }

        &__title:nth-last-child(2){
            margin-left: 40px;
        }
    }

    @media (min-width:768px) {
        min-width: 768px;
        max-width: 1440px;

        .header-navigation {

            &__title--dis-md {
                display: block;
            }
        }
    }

    @media (min-width:1440px) {
        display: none;

        .header-basic__logo::before {
            content: " ";
            width: 0;
        }

    }
}