body {
    margin: 0;
}

.header,
.main,
.footer {
    min-width: 320px;
    max-width: 768px;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('../assets/fonts/TTLakesCondensed-Bold.eot') format('embedded-opentype'),
        url('../assets/fonts/TTLakesCondensed-Bold.woff2') format('woff2'),
        url('../assets/fonts/TTLakesCondensed-Bold.woff') format('woff'),
        url('../assets/fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Condensed";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes Condensed"),
        url("../assets/fonts/TTLakes-Regular.woff") format("woff"),
        url("../assets/fonts/TTLakes-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../assets/fonts/TTLakes-Medium.eot') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Medium.woff2') format('woff2'),
        url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
        url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.burger {
    background-image: url('../assets/img/header_img/burger.svg');

    &:active~.aside {
        transform: translateX(100px);
        transition: 3s;
    }
}

.call {
    background-image: url('../assets/img/header_img/call.svg');

}

.chat {
    background-image: url('../assets/img/header_img/chat.svg');

}

.profile {
    background-image: url('../assets/img/header_img/profile.svg');

}

.repair {
    background-image: url('../assets/img/header_img/repair.svg');

    &-brends,
    &-technic {
        border-bottom: 1px solid #D9FFF5;
    }
}

.checkstatus {
    background-image: url('../assets/img/header_img/checkstatus.svg');

}

.close {
    background-image: url('../assets/img/header_img/cancel.svg');

}

.search {
    background-image: url('../assets/img/header_img/search.svg');

}

.header-navigation,
.aside__header,
.aside__header-nav,
.aside__info-item,
.modal__form,
.modal__header {
    display: flex;
}

.bottom:not(:last-child) {
    margin-right: 0;
}

.item_dis-md,
.item_dis-lg,
.nav_dis-lg-flex,
.title_dis-md,
.content-more_brends,
.content-more_technic {
    display: none;
}

.bottom {
    transition: transform 0.3s, opacity 0.3s;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 24px 16px;

    &:hover {
        opacity: 0.8;
        transform: scale(0.9);
    }

    &:active {
        transform: scale(0.8);
    }
}

.aside__menu-item,
.aside__lang-item,
.button_show {
    display: none;
}



@media (min-width:768px) {

    .header,
    .main,
    .footer {
        min-width: 768px;
        max-width: 1440px;
    }

    .repair {
        margin-left: 40px;
    }


    .dis-md,
    .title_dis-md,
    .content-more_brends,
    .content-more_technic,
    .swiper-img__subtitle_price--dis-md {
        display: block;
    }

}

@media (min-width:1440px) {
    .main {
        margin: 0 auto;
        max-width: 1440px;
    }

    .footer {
        max-width: 1160px;
        margin: 0 auto;
        padding-left: 280px;
    }

    .header,
    .item_dis-md,
    .close.aside__header-bottom {
        display: none;
    }

    .checkstatus {
        margin-right: 0;
    }

    .dis-lg,
    .item_dis-lg,
    .aside {
        display: block;
    }


}