body {
    margin: 0;
}

.header,
.main,
.footer {
    min-width: 320px;
    max-width: 768px;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('../assets/fonts/TTLakesCondensed-Bold.eot') format('embedded-opentype'),
        url('../assets/fonts/TTLakesCondensed-Bold.woff2') format('woff2'),
        url('../assets/fonts/TTLakesCondensed-Bold.woff') format('woff'),
        url('../assets/fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes Condensed";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes Condensed"),
        url("../assets/fonts/TTLakes-Regular.woff") format("woff"),
        url("../assets/fonts/TTLakes-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../assets/fonts/TTLakes-Medium.eot') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Medium.woff2') format('woff2'),
        url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
        url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.burger {
    background-image: url('../assets/img/header_img/burger.svg');

    &:active~.aside {
        transform: translateX(100px);
        transition: 3s;
    }
}

.call {
    background-image: url('../assets/img/header_img/call.svg');

}

.chat {
    background-image: url('../assets/img/header_img/chat.svg');

}

.profile {
    background-image: url('../assets/img/header_img/profile.svg');

}

.repair {
    background-image: url('../assets/img/header_img/repair.svg');

    &-brends,
    &-technic {
        border-bottom: 1px solid #D9FFF5;
    }
}

.checkstatus {
    background-image: url('../assets/img/header_img/checkstatus.svg');

}

.close {
    background-image: url('../assets/img/header_img/cancel.svg');

}

.search {
    background-image: url('../assets/img/header_img/search.svg');

}

.header {
    height: 88px;

    &-page {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D9FFF5;
        position: relative;

        &::after {
            content: " ";
            background: #EAEAEA;
            width: 2px;
            height: 32px;
            position: absolute;
            left: 59%;
            top: 30%;
        }

        &::after {
            content: " ";
            width: 0;
        }
    }

    &-basic {
        display: flex;
        align-items: center;

        &__logo {
            margin-left: 15px;

            &::before {
                content: " ";
                background: #EAEAEA;
                width: 2px;
                height: 32px;
                position: absolute;
                top: 30px;
                left: 70px;
            }
        }
    }

    &-navigation::before {
        content: " ";
        background: #EAEAEA;
        width: 2px;
        height: 32px;
        position: absolute;
        top: 28px;
        right: 130px;
    }
}

.header-navigation,
.aside__header,
.aside__header-nav,
.aside__info-item,
.modal__form,
.modal__header {
    display: flex;
}

.bottom:not(:last-child) {
    margin-right: 0;
}

.item_dis-md,
.item_dis-lg,
.nav_dis-lg-flex,
.title_dis-md,
.content-more_brends,
.content-more_technic {
    display: none;
}

.aside {
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 0px 52px 0px #9598a5;
    transition: transform .3s linear;
    transform: translateX(-120%);
    background-color: #ffffff;
    overflow-y: auto;
    z-index: 2;

    &--show {
        transform: translateX(0%);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__header-nav {
        flex-direction: column;
    }

    &__header {
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    &__logo {
        padding: 16px 62px 0px 0px;
    }

    &__navigation {
        display: flex;
        flex-direction: column;
    }

    &__menu-link {
        text-decoration: none;
        font-size: 16px;
        font-family: 'TT Lakes';
        font-weight: 500;
        color: #1B1C21;
        padding-left: 24px;
        line-height: 50px;
        margin: 0;
        transition: color 0.3s, border 0.3s;
    }

    &__menu-item:checked+.aside__menu-link {
        color: #7E7E82;
        border-left: 5px solid #41F6D7;
    }

    &__lang-item:checked+.aside__lang-link {
        color: #7E7E82;
    }

    &__info-navigation {
        display: flex;
        padding-bottom: 24px;
    }

    &__info-contacts {
        display: flex;
        flex-direction: column;

        &-email {
            text-decoration: none;
            color: #1B1C21;
            font-size: 16px;
            font-family: 'TT Lakes';
            font-weight: 500;
            padding: 0px 0px 12px 24px;
            transition: color 0.2s;
        }

        &-tel {
            padding: 0px 0px 40px 24px;
            text-decoration: none;
            color: #1B1C21;
            font-size: 24px;
            font-family: 'TT Lakes Condensed';
            font-weight: bold;
            color: #1B1C21;
            transition: color 0.2s;
        }
    }

    &__lang-title {
        display: flex;
        padding-left: 24px;
    }

    &__lang-link {
        font-size: 16px;
        font-family: 'TT Lakes';
        font-weight: 500;
        padding-right: 7px;
        transition: 0.3s;
    }

    &__lang-link:hover,
    &__info-contacts-tel:hover,
    &__info-contacts-email:hover,
    &__menu-link:hover {
        color: #41F6D7;
    }

    &__lang-link:active,
    &__info-contacts-tel:active,
    &__info-contacts-email:active,
    &__menu-link:active {
        color: #7E7E82;
    }

    &__logo {
        padding: 16px 10% 0px 0px;
    }

    &__logo {
        padding-left: 24px;
    }

    &__header {
        margin-bottom: 0;
    }
}

.bottom {
    transition: transform 0.3s, opacity 0.3s;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 24px 16px;

    &:hover {
        opacity: 0.8;
        transform: scale(0.9);
    }

    &:active {
        transform: scale(0.8);
    }
}

.aside__menu-item,
.aside__lang-item,
.button_show {
    display: none;
}

.modal {
    width: 320px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-right: 16px;
    top: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 2;
    transition: transform .3s linear;
    transform: translateX(120%);
    border-left: 2px solid #D9FFF5;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &--show {
        transform: translateX(0%);
    }

    &__header {
        flex-direction: column;
    }

    &__title {
        margin-left: -2px;
    }

    &__form {
        flex-direction: column;

        &-title {
            border: none;
            padding-left: 12px;
            padding-right: 0;
        }

        &-item {
            width: 100%;
            padding: 12px;
            margin-bottom: 16px;
            border: 1px solid #EAEAEA;
            border-radius: 8px;
            box-sizing: border-box;
            transition: outline .6s, color .6s, opacity .6s;

            &:focus {
                outline: 2px solid #41F6D7;

                &::placeholder {
                    color: #000000;
                    opacity: 0.7;
                }
            }

            &:hover {
                outline: 1px solid #525253;
            }

            &::placeholder {
                font-size: 16px;
                font-family: 'TT Lakes';
                font-weight: 500;
                color: #B5B6BC;
                transition: color .6s, opacity .6s;
            }
        }
    }

    &__description {
        font-size: 14px;
        font-family: 'TT Lakes';
        font-weight: 500;
        color: #7E7E82;
        padding-left: 16px;
        margin-top: 0;

        &-link {
            text-decoration: none;
            color: #df4d78;
        }
    }

    &__button {
        background-color: #FF3E79;
        color: #ffffff;
        border-radius: 16px;
        border: none;
        padding: 6px 8px;
        width: 35%;
        font-size: 12px;
        font-family: 'TT Lakes';
        font-weight: 500;
        align-self: flex-end;
        transition: transform .4s, opacity .4s;

        &::after {
            content: url('../assets/img/header_img/back.svg');
            position: relative;
            left: 5px;
            top: 1px;
        }

        &:hover {
            transform: scale(0.9);
            opacity: 0.8;
        }

        &:active {
            transform: scale(0.8);
            opacity: 1;
        }
    }

}

.title {
    font-family: 'TT Lakes Condensed';
    font-weight: bold;
    height: 40px;
    font-size: 28px;
    padding: 12px;
    border-left: 4px solid #41F6D7;
    margin-bottom: 10px;
}

.feedback__form-item_message {
    padding-bottom: 118px;
}

.content {
    border-bottom: 1px solid #D9FFF5;

    &__page {
        display: flex;
        flex-direction: column;
    }

    &-more {
        background-color: #f8f8f8;
        font-size: 16px;
        font-family: 'TT Lakes';
        font-weight: 500;
        border: none;
        transition: color .5s, transform .5s;
        margin-left: 15px;

        &_yr {
            background-color: #f8f8f8;
            font-size: 16px;
            font-family: 'TT Lakes';
            font-weight: 500;
            border: none;
            margin-left: 16px;
            text-align: left;
            padding: 0px 50px 40px 0px;

            &::after {
                content: url('../assets/img/main_img/Line.svg');
                position: relative;
                left: 10px;
            }
        }

        &:hover {
            color: #7E7E82;
            transform: scale(0.9);
        }

        &_text {
            margin-bottom: 20px;

            &::before {
                display: inline-block;
                content: url('../assets/img/main_img/expand.svg');
                position: relative;
                right: 5px;
                top: 0px;
                transition: transform .5s;
                display: inline-block;
                transform: rotate(-180deg);
            }

            &.content-more_text--show::before {
                transform: rotate(0deg);
                top: 5px;
            }
        }

        &_brends,
        &_technic {
            margin: 10px 0px 0px 15px;
            padding-bottom: 32px;

            &::before {
                content: url('../assets/img/main_img/expand.svg');
                position: relative;
                right: 5px;
                top: 0px;
                transition: transform .5s;
                display: inline-block;
                transform: rotate(-180deg);
            }

            &.content-more_brends--show::before,
            &.content-more_technic--show::before {
                transform: rotate(0deg);
                top: 5px;
            }
        }
    }

    &-img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    &__img {
        width: 100%;
        height: auto;
        max-width: 530px;
    }

    &__main-text {
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 490px;
        height: auto;
        font-family: 'TT Lakes Condensed';
        font-weight: normal;
        color: #1B1C21;
        font-size: 14px;
        margin-left: 16px;
        height: 80px;
        overflow: hidden;

        &--show {
            height: auto;
        }
    }

    &__main-text {
        margin-right: 40px;
        min-width: 312px;
    }

    &__main-text {
        margin-right: 36px;
        margin-left: 24px;
    }
}

.main__header {
    background-color: #f8f8f8;
    padding-top: 24px;
}

.scrollbar {
    display: flex;
    overflow-x: auto;
    padding-left: 16px;

    &::-webkit-scrollbar {
        width: 0;
        padding: 0;
    }

    &__menu-link {
        white-space: nowrap;
        text-decoration: none;
        font-size: 17px;
        font-family: 'TT Lakes';
        font-weight: 500;
        color: #7E7E82;
        padding: 8px 15px;

        &:focus {
            border: 2px solid #B8FFEC;
            border-radius: 5px;
        }
    }

    &__menu-link {
        font-size: 16px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 24px;
}

.swiper-img_brend {
    width: 240px;
    height: 72px;
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    transition: transform .5s;

    &:hover {
        transform: scale(0.9);
    }

    &::after {
        content: url('../assets/img/main_img/go.svg');
        position: absolute;
        left: 185px;
        top: 15px;
    }

    &-lenovo::before {
        content: url('../assets/img/main_img/lenovo.svg');
        position: absolute;
        left: 10px;
        top: 20px;
    }

    &-samsung::before {
        content: url('../assets/img/main_img/samsung.svg');
        position: absolute;
        left: 10px;
        top: 15px;
    }

    &-apple::before {
        content: url('../assets/img/main_img/apple.svg');
        position: absolute;
        left: 10px;
        top: 12px;
    }

    &-viewsonic::before {
        content: url('../assets/img/main_img/viewsonic.svg');
        position: absolute;
        left: 10px;
        top: 25px;
    }

    &-bosch::before {
        content: url('../assets/img/main_img/bosch.svg');
        position: absolute;
        left: 10px;
        top: 20px;
    }

    &-hp::before {
        content: url('../assets/img/main_img/hp.svg');
        position: absolute;
        left: 10px;
        top: 10px;
    }

    &-acer::before {
        content: url('../assets/img/main_img/acer.svg');
        position: absolute;
        left: 10px;
        top: 22px;
    }

    &-sony::before {
        content: url('../assets/img/main_img/sony.svg');
        position: absolute;
        left: 10px;
        top: 22px;
    }
}

.subtitle {
    text-transform: uppercase;
    font-family: "TT Lakes Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 16px;
    padding-bottom: 32px;
    color: #7E7E82;
}

.swiper-brend {
    height: 110px;
    padding-left: 16px;
}

.swiper-img__title {
    font-family: TT Lakes;
    font-size: 16px;

    &_technic {
        margin-left: 16px;
    }
}

.swiper-img_technic {
    width: 240px;
    height: 160px;
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    transition: transform .5s;

    &::after {
        content: url('../assets/img/main_img/go.svg');
        position: relative;
        left: 185px;
        top: 50px;
    }

    &:hover {
        transform: scale(0.9);
    }
}

.swiper-technic {
    height: 200px;
    padding-left: 16px;
}

.swiper-price__btn {
    background-color: #FF3E79;
    color: #ffffff;
    border-radius: 16px;
    border: none;
    box-sizing: border-box;
    height: 32px;
    width: 120px;
    padding-right: 30px;
    font-size: 12px;
    font-family: 'TT Lakes';
    font-weight: 500;
    align-self: flex-end;
    transition: transform .4s, opacity .4s;
    text-transform: uppercase;
    position: absolute;
    left: 124px;
    bottom: 66px;

    &::after {
        content: url('../assets/img/header_img/back.svg');
        position: relative;
        left: 20px;
        top: 1px;
    }

    &:hover {
        transform: scale(0.9);
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.8);
        opacity: 1;
    }
}

.swiper-img__subtitle_price {
    font-family: 'TT Lakes Condensed';
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    font-weight: 400;
    color: #7E7E82;
    margin: 0px 0px 6px 0px;

    &--dis-md {
        margin-bottom: 40px;
    }
}

.swiper-img__item_price {
    font-family: 'TT Lakes';
    font-size: 14px;
    margin: 0px 0px 16px 0px;
    color: #1B1C21;

    &--free {
        margin-right: 9px;
    }
}

.swiper-img_price {
    width: 260px;
    height: 200px;
    box-sizing: border-box;
    padding: 16px;

    &--last {
        border: none;
    }
}

.swiper-wrapper_price {
    height: 250px;
}

.price-technic {
    border-bottom: 1px solid #D9FFF5;
}

.swiper-pagination-bullet {
    background-color: #B5B6BC;
    width: 12px;
    height: 12px;
}

.price-text {
    font-family: 'TT Lakes Condensed';
    font-weight: normal;
    color: #1B1C21;
    font-size: 14px;
    width: 80%;
    margin-left: 16px;
}

.footer__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.footer__item {
    text-align: center;
    text-decoration: none;
    font-family: 'TT Lakes';
    font-weight: 500;
    color: #7E7E82;
    margin-bottom: 16px;
    font-size: 14px;
    max-width: 320px;
    transition: color .2s;

    &:hover {
        color: #41F6D7;
    }

    &_copy {
        text-align: left;
    }

    &_pol {
        vertical-align: top;
    }

    &_info {
        text-align: end;
    }

    &_info {
        margin-right: 16px;
    }
}

.footer {
    padding-bottom: 20px;

    &__title {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding-top: 2em;
    }

    &__item {
        margin: 0 20px;
    }
}

@media (min-width:768px) {

    .header,
    .main,
    .footer {
        min-width: 768px;
        max-width: 1440px;
    }

    .repair {
        margin-left: 40px;
    }

    .swiper-img__subtitle_price {
        display: none;
    }

    .dis-md,
    .title_dis-md,
    .content-more_brends,
    .content-more_technic,
    .swiper-img__subtitle_price--dis-md {
        display: block;
    }

    .content {
        flex-direction: row;
        align-items: start;
        justify-content: start;
    }

    .swiper-wrapper_brend,
    .swiper-wrapper_technic {
        flex-wrap: wrap;
        gap: 16px 32px;
    }

    .swiper-slide_brend,
    .swiper-slide_technic {
        width: auto;
    }

    .swiper-brend {
        height: 80px;
    }

    .swiper-technic {
        height: 170px;
    }

    .swiper-brend--show,
    .swiper-technic--show {
        height: auto;
    }

    .swiper-img_price {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #EAEAEA;
        padding: 20px 0px 5px 0px;
        height: auto;
        justify-content: space-between;
    }

    .swiper-wrapper_price {
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .swiper-img__info {
        display: flex;

        &>.swiper-img__title_price {
            margin-right: 40px;
        }
    }

    .swiper-slide_price,
    .swiper-img_price {
        height: auto;
    }

    .swiper-slide_price {
        width: 100%;
    }

    .swiper-price__btn {
        position: static;
        margin-bottom: 10px;
    }

    .price-text {
        width: 60%;
    }
}

@media (min-width:1440px) {
    .main {
        margin: 0 auto;
        max-width: 1440px;
    }

    .footer {
        max-width: 1160px;
        margin: 0 auto;
        padding-left: 280px;
    }

    .header,
    .item_dis-md,
    .close.aside__header-bottom {
        display: none;
    }

    .checkstatus {
        margin-right: 0;
    }

    .main-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0px 0 20px 0;
    }

    .main-navigation,
    .nav-dis-lg-flex {
        display: flex;
    }

    .main-navigation {
        padding-right: 40px;

        &__title {
            text-decoration: none;
            font-family: 'TT Lakes';
            font-weight: 500;
            color: #1B1C21;
            background-image: none;
            padding-left: 50px;

            &.repair::after {
                content: url('../assets/img/header_img/repair.svg');
                position: relative;
                left: 10%;
                top: 25%;
            }

            &.checkstatus::after {
                content: url('../assets/img/header_img/checkstatus.svg');
                position: relative;
                left: 10%;
                top: 25%;
            }
        }
    }

    .dis-lg,
    .item_dis-lg,
    .aside {
        display: block;
    }

    .content {
        align-items: start;
        justify-content: start;
    }

    .reviews {
        margin: 0px 0px 25px 40px;
        font-size: 19px;
        color: #7E7E82;
        font-family: 'TT Lakes Condensed';
    }

    .title {
        margin-bottom: 8px;
    }

    .header-basic__logo::before,
    .repair::before {
        content: " ";
        width: 0;
    }

    .scrollbar {
        overflow: visible;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    .aside {
        display: flex;
        box-shadow: none;
        position: static;
        padding: 15px;
        min-width: 250px;
        transform: translate(0);
        transition: none;
    }

    .mainer-page {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .modal {
        overflow: visible;
        width: 440px;

        &__close {
            position: absolute;
            right: 460px;
        }
    }

    .swiper-wrapper_brend {
        grid-template-columns: 24% 24% 24% 24%;
    }

    .swiper-slide_brend {
        margin: 0;
    }

    .swiper-price__title {
        margin-right: 150px;
    }

    .price-text {
        width: 40%;
    }
}